.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }

        .title{
            color: #5d5b8d;
            font-size: 12px;
        }

        form{display: flex;
        flex-direction: column;
        gap: 15px;

        input{
            padding: 15px;
            width: 250px;
            border: none;
            border-bottom:1px solid #a7bcff;
            &::placeholder{
                color: rgb(175, 175, 175);
            }
        }
        button{
            background-color: #a7bcff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-weight: bold;
            cursor: pointer;
        }
        label{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 12px;
            color: #8da4f1;
            cursor: pointer;

            img{
                height: 32px;
                width: 32px;
            }
        }
        }
        p{
            font-size: 12px;
            margin-top: 10px;
            color: #5d5b8d;
        }
    }
}

.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        height: 65%;
        width: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            background-color: #3e3c61;

            .navbar{
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                }
                .user{
                    display: flex;
                    gap: 10px;

                    img{
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        background-color: #ddddf7;
                        object-fit: cover;
                    }
                    button{
                        cursor: pointer;
                        border: none;
                        font-size: 10px;
                        background-color: #5d5b8d;
                        color: #ddddf7;
                    }
                }
            }
        }

        .chat{
            flex: 2;
        }

        
    }
}